.ui.justified.container.actualites{
		padding-top: 0px;
	}
.actualites {
	font-size:16px;
	line-height:1.6;

	div.ui.segment {
    	height:100%;
	}

	
	.ab_bouton_actu.ab_bouton_actu.ab_bouton_actu.ab_bouton_actu {
		margin:0 auto;
		display:block;
	}
	.ab_titre_carte {
		font-size:20px;
		margin-bottom:0;
	}
	.ab_date_carte {
		font-size:14px;
		font-style: italic;
		line-height:2.8;
	}
}
.ab_container_actu.ab_container_actu.ab_container_actu {
	width:600px;
	margin:0 auto 60px auto;
	text-align:justify;
	font-size: 16px;
	line-height:1.6;
}
.ab_date_actu {
	font-size:14px;
	text-align:center;
	font-style: italic;
	line-height:2.8;
}
.ab_titre_actu.ab_titre_actu.ab_titre_actu.ab_titre_actu {
	margin:30px 0 0 0;
}