.mh-bouton.mh-bouton.mh-bouton{
	margin-top: 10px;
	margin-bottom:10px;
	background-color: #DD1E25;
}

.mh-FondDesBlocks.mh-FondDesBlocks.mh-FondDesBlocks{
	background-color: white;
}

.mh-contener.mh-contener.mh-contener {
	padding-bottom: 60px;
}

.bh-copy {
	border-top:1px solid #333;
	width: 100%;
    text-align: center;
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
}