.container{
	margin-top: 120px;

}
.ui.segment{
	box-shadow:none;
	border:transparent;
	background-color:transparent;
}
.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card.ui.card{
	box-shadow:none;
	background-color:transparent;
}
.mh-contener.mh-contener.mh-contener {
	padding-bottom: 60px;
}

.mh-bouton.mh-bouton.mh-bouton{
	margin-top: 10px;
	margin-bottom:10px;
}


