.container{
	margin-top: 120px;
}
.contact{
	padding-bottom:50px;
}
.ui.card.ui.card{
	box-shadow:none;
	background-color:transparent;
}

.ui.segment{
	box-shadow:none;
	border:transparent;
	background-color:transparent;
}

.mh-contener.mh-contener.mh-contener {
	padding-bottom: 60px;
}

.mh-bouton.mh-bouton.mh-bouton{
	margin-top: 10px;
	margin-bottom:10px;
}

.ui.inverted.segment.formulaire-contact {
	margin-bottom: 50px;
	margin: 0 auto;
	width: 52%;
}

.ui.submit.button {
	text-align: center;
}