.rl-close-icon:hover {
	cursor:  pointer;
}
.rl-annonces.rl-annonces.rl-annonces {
	background-color: white;
}
.rl-grobouton.rl-grobouton.rl-grobouton {
	margin-bottom: 15px;
	background-color: #dd1e25;
}
.rl-grobouton.rl-grobouton.rl-grobouton p {
	color: white;
}
.rl-modal.rl-modal.rl-modal {
	top: 20%;
}
.rl-titres h1 {
	display:block;
}
.rl-fermer-modal {
	padding-left: 13px;
}
.ui.labeled.icon.green.button.rl-envoyer {
	box-shadow:2px 2px 2px #f06292;
}
.rl-bigTitle {
	margin-top:40px;
}
