.rl-modal.rl-modal.rl-modal {
	top: 20%;
}
.ui.labeled.icon.green.button.rl-envoyer {
	 background-color:#e42931;
}

.rl-annonces.ui.segment.bloc.annonces{
	border:none;
}
.ui.segments{
	box-shadow:none;
	border:transparent;
	background-color:none;
}
