.by-image {
	width : 100%;
}

.titre-formation {
	font-family: 'Open Sans';
	text-align: center;
	font-size: 35px;
	margin-top: 80px;
}

.ui.container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.img-formation {
	padding-left: 0;
	padding-right: 0;
}

.ui.large.buttons {
	margin: 0 auto;
	width: 600px;
}

.ui.button {
	background-color: #e42931;
	color: #fff;
}

.formdev {
	width: 600px;
	height: 50px;
}

.formjava {
	width: 600px;
	height: 50px;
}

.titre-formation {
	margin-top: 100px;
	font-family: 'Fugaz One';
	font-size: 55px;
}