.fg-hero{
	background:url("../img/groupe.jpg") no-repeat center;
	background-size : cover;
	width:100%;
	height:100%;
	display: flex;
	justify-content : center;
	align-items : center;
	text-align : center;
}
.fg-hero-text {
	color : #E0D5D5;
	font-size : 8em;
	font-family : ubuntu;
}

body{
	min-height:100%;
}
html {
	min-height : 100%;
}