/* Loading */
.senna-loading-bar {
  background: #2aaae6;
  background: rgba(255, 255, 255, 0.5); }

.senna-loading .senna-loading-bar {
  animation: shift-rightwards 1s ease-in-out infinite;
  animation-delay: .4s;
  display: block; }

.senna-loading-bar {
  transform: translateX(100%);
  background: #2fa4f5;
  display: none;
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000; }

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%); }
  40%,
  60% {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }

/* Transition */
[class^="senna-transition-"] .flipped {
  animation-duration: 0.40s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.senna-transition-fade .flipped {
  animation-name: fadeIn; }

body {
  background-color: white;
  margin: 0;
}

.ui.segment {

  margin: 0;
  border-radius: 0px;
}

.text1 {
  margin-top: 60px;
}

.ui.inverted.menu {
  background: transparent;
  height: 80px;
}

.menu-item {
  font-size: 20px;
}

.ui.vertical.menu {
  background-color: #1b1c1d;
  height: 100%;
}

.ui.stackable.four.column.grid {
  background-color: #1b1c1d;
}

.menu-footer {
  display: block;
}
.bh-tweet {
  font-size: 22px;
  line-height: 1.2;
    text-align: center;
    color: rgba(255,255,255,.9);
}

.ui.medium.image {
  width: 300px;
  height: auto;
  top: 25px;
  z-index: 1;
}

.ui.tiny.image {
  width: 80px;
  height: auto;
  top: 24px;
  left: 28px;
  z-index: 1;
}

.adresse {
}

.p-footer {
  color: rgba(255,255,255,.9);  
  text-align: center;
}

.p-footer.link-mail-er2c.p-footer.link-mail-er2c.p-footer.link-mail-er2c.p-footer.link-mail-er2c.p-footer.link-mail-er2c.p-footer.link-mail-er2c {
  text-align: center !important;
  font-size: 18px;
}

a.p-footer.link-mail-er2c:hover {
  color: #e42931;
}

a.p-footer {  
  text-align: center;
  margin: 0 auto ;
}

.ui.grid.main{
  margin-top: 70px;
}

.mobile.row{
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
  border-radius: 0px !important;
}

.padding-reset{
  padding: 0px !important;
}

.ui.message{
  padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
      margin-top: 70px;
  }

        .ui.grid { margin: 0 !important; }
  .ui.vertical.menu.navbar{
    margin-top: 0px !important;
  }
}

.ui.vertical.menu{
  margin-top: -15px !important;
  width: 100%;
  display: none;
  z-index: 500;
}

.menu-endpage {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

a.menu-endpage:hover {
  color: #e42931; 
}

.vertical-menu-endpage {
  margin-left: 15px;
  margin-top: 10px;
}

.send.icon {
  color: rgba(255,255,255, .9);
}

@media screen and (min-width: 200px)
{
    .img-responsive {
      max-width: 100%;
      display: block !important;
    }
}