#partenaire{
    color: white; 

	&:visited{
    text-decoration: none; }
    &:hover {
    color: rgba(0,0,0,0.4); }	

}

.backgroundPartenaire{
	width:100%;
	
	background-size:contain !important;
}

.ph-centre{
	text-align: center;
}
.ph-droit {
	text-align: right;
}