/* Profile css */
#to-profile {
	margin-top:-2px;
	margin-bottom:60px;
	#to_bandeau {
		background-color: #1b1c1d;
		font-family: Open Sans, sans-serif;
		color: white; 
		.to.ui.centered.medium.image {
			border-radius:0%;
			height: 310px; 
			background-size: cover;
			border:5px solid #f0f0f0;}
	}

	.to.bio {
		text-align: auto; 
		h2.ui.horizontal.divider {
			font-size: 18px; }
			.bio_paragraphe {
				text-align: justify;
				font-family: ubuntu; }
		}
		.to.list_projet {
			list-style: none;
			padding:3px;
			text-align: center;}
	}