.nopadding.nopadding.nopadding.nopadding.nopadding.nopadding.nopadding.nopadding.nopadding {
	padding: 0px;
}
.smp-padding.smp-padding.smp-padding.smp-padding.smp-padding.smp-padding{
	padding-top: 30px;
}

.ui.attached.segment.as-card-description{
	box-shadow:none;
}

	.as-card-description.as-card-description{
		height: 310px;
		border:none;
		p {
			font-size: 1.1em;
		}
	}
	.ui.dividing.header{
		border:none;
	}
.ui.attached.segment{
		border:transparent;
	}
	.as-card {
	height: auto;
	.as-card-image{
		width:100%;
		height:310px;
		background-size:cover;
		background-position: center center;
	}
	}






