.contenu.ui.grid.text.container.hp-global{
	margin-top: 80px;
}
.ph-titre{
	text-align: center;
	padding-bottom:3em;
}
.ph-temoignage.ph-temoignage{
	padding-top: 1em;
	padding-left: 1em;
}

.container.ph-content{
	margin-top:0;
	padding-left:2em ;
	padding-right:1em;
	padding-bottom:3em;
}
