.contenu.ui.grid.text.container.hp-global{
	padding-top:0px;
}
.Temoignages{
	margin-bottom:50px;
}
.sixteen.wide.column.temoignages{
	margin-top:80px;
}
.ph-temoignage.ph-temoignage{
	padding-top: 2em;
	padding-left: 1em;
}

.container.ph-content{
	margin-top:0;
	padding-left:2em ;
	padding-right:1em;
	padding-bottom:3em;
}

@media screen and (min-width: 200px)
{
	h1.titre-formation.Temoignages {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 20px;
		font-size: 40px;
	}
}